frontalis, tremulans and forresti global models/resnet18_FFT_best_model.pt
frontalis, tremulans and forresti global models/resnet18_Forresti_best_model.pt
frontalis, tremulans and forresti global models/resnet18_Tremulans_best_model.pt
frontalis, tremulans and forresti global models/colored_ResNet_18_Frontalis_best_model.pt