# model / checkpoint artifacts
*.pt
*.pth
*.ckpt
*.onnx
*.tflite
*.pb
*.weights

# Python bytecode
__pycache__/
*.pyc

#image files
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif
*.tif
*.webp

# video files
*.mp4
*.avi
*.mov
*.mkv

# csv files
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.jsonl

# log files
*.log


*.DS_Store